body {
  font-size: 16px;
  min-height: 100%;
}

#bootstrap-overrides p, address {
  font-size: 1em;
  min-height: 100%;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  line-height: 1.25em;
}

@media (min-width: 43.75em) {
  #bootstrap-overrides p {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

#bootstrap-overrides h1 {
  font-size: 2em;
  line-height: 1.25em;
  margin: 0.37em 0px 0.37em 0px;
  /*font-family: "Permanent Marker", cursive;*/
  font-family: "Passion One", cursive;
}

@media (min-width: 43.75em) {
  #bootstrap-overrides h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  #bootstrap-overrides h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

#bootstrap-overrides h2 {
  font-size: 1.63em;
  line-height: 1.15em;
  margin: 0.5em 0px 0.5em 0px;
  font-weight: bold;
  font-family: "Passion One", cursive;
}

@media (min-width: 43.75em) {
  #bootstrap-overrides h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  #bootstrap-overrides h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

#bootstrap-overrides h3 {
  font-size: 1.38em;
  line-height: 1.14em;
  margin: 1em 0px 1em 0px;
  font-family: "Passion One", cursive;
}

@media (min-width: 43.75em) {
  #bootstrap-overrides h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  #bootstrap-overrides h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

#bootstrap-overrides h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
  font-weight: 600;
  font-style: normal;
  font-family: "Passion One", cursive;
}

@media (min-width: 43.75em) {
  #bootstrap-overrides h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

#bootstrap-overrides blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  #bootstrap-overrides blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}

.blog-link {
  color: black;
}

.blog-link:hover {
  color: black;
  text-decoration: none;
}

.business-header {
  position: relative;
  height: 500px;
  background-image: url("./asset/imagem_site.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

  display: -webkit-flex;
  align-items: center;
  justify-content: center;
}

.business-header.description {
  height: 200px;
  background-image: url("./asset/imagem_site.jpg");
}

.btn-block {
  margin: auto;
  display: block;
  width: 50%;
  min-width: 13em;
}

@media (min-width: 48em) {
  .btn-block {
    margin: 0;
  }
}

.layer {
  background-color: #333333;
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-header {
  z-index: 1;
  text-align: center;
  height: 8em;
  width: 100%;
}

@media (min-width: 43.75em) {
  .container-header {
    z-index: 1;
    text-align: center;
    height: 8em;
    width: 50%;
  }
}

.desktop-version {
  display: none !important;
}

@media (min-width: 43.75em) {
  .desktop-version {
    display: inline-block !important;
  }
  .mobile-version {
    display: none !important;
  }
}

.text-header {
  color: white;
  text-shadow: 0 0 10px #000;
  padding: 0 10px 0 10px;
  transform: translateY(-50%);
}

.text-header.description {
  transform: translateY(0%);
}

.container-body {
  padding: 0;
  padding-top: 60px;
}

.container-children {
  margin: auto;
  width:90%;
}

.container-children.description {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.section-title {
  text-align: center;
  font-size: 3em;
}

.img-home {
  width: 100%;
}

.steps-wrapper {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  justify-content: center;
}

.steps-content {
  width: 100%;
  text-align: center;
}

.steps-content a {
  color: black;
}

.steps-content a:hover {
  text-decoration: none;
}

.steps-content img {
  height: 50%;
}

.steps-content.description img {
  height: 30%;
}

@media (min-width: 43.75em) {
  .steps-wrapper {
    -webkit-flex-direction: row;
  }
  .steps-content {
    width: 30%;
    margin: 0 10px 0 10px;
  }
}

.location-wrapper {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  justify-content: center;
}

.location-content {
  width: 100%;
  height: 350px;
  text-align: center;
}

@media (min-width: 43.75em) {
  .location-wrapper {
    -webkit-flex-direction: row;
  }

  .location-content {
    width: 50%;
    height: 350px;
    text-align: left;
  }
}

.img-center {
  margin: 0 auto;
}

.inputbox-form {
  width: 80%;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.allpages-form {
  max-width: 400px;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px 0 0 0;
  background-color: #cccccc;
}

.cadastrar {
  background-color: #139695;
  font-weight: bold;
  color: white;
}

.cadastrar:hover {
  background-color: #139695;
  font-weight: bold;
}

.marker-div {
  width: 60px;
  height: 60px;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background-color: black;
}

.marker-img {
  width: 100px;
  height: 100px;
  transform: translate(-20%,-20%);
}

footer {
  background-color: rgb(0, 0, 0);
  margin-top: 25px;
  height: 450px;
}

@media (min-width: 43.75em) {
  footer {
    height: 275px;
  }
}

.footer-contact {
  display: flex;
  flex-direction: column;
}

.footer-contact div p {
  margin-top: 20px;
}

.footer-contact-left {
  color: white;
  margin: auto;
  text-align: left;
}

.footer-contact-middle {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.footer-contact-right {
  margin: auto;
  margin-top: 20px;
}

.footer-contact-middle img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer-contact-middle a {
  color: #FFFFFF;
}

.footer-contact-middle a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

@media (min-width: 43.75em) {
  .footer-contact {
    flex-direction: row;
  }
  .footer-contact-right {
    margin: auto;
  }
}

.footer-social-media {
  display: -webkit-flex;
  -webkit-flex-direction: column;
}

@media (min-width: 43.75em) {
  .footer-social-media {
    -webkit-flex-direction: row;
  }
}

.footer-social-media-container {
  margin: auto;
  margin-top: 20px;
}

.footer-social-media img {
  width: 33%;
  height: 40px;
}

@media (min-width: 43.75em) {
  .footer-social-media img {
    width: 40px;
    height: 40px;
    margin: 20px 30px 30px 30px
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
}

.contact-container-left, .contact-container-right {
  margin: auto;
  width: 90%;
}

@media (min-width: 43.75em) {
  .contact-container {
    flex-direction: row;
  }
  .contact-container-left, .contact-container-right {
    width: 50%;
  }
}

.contact-container-left a {
  display: flex;
  margin-bottom: 5px;
  color: black;
  max-width: 300px;
}

.contact-container-left a:hover {
  color: black;
  text-decoration: none;
}

.contact-image {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
}

.contact-image img {
  width: 20px;
  height: 20px;
  transform: translate(25%,13%);
}

.contact-text {
  margin: auto;
  margin-left: 10px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.description-video {
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  width: 90%;
  align-items: center;
  text-align: justify;
}

.description-video-left {
  margin: auto;
  margin-top: 10px;
}

.description-video-right {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 64em) {
  .description-video {
    flex-direction: row;
  }
  .description-video-left, .description-video-right {
    width: 50%;
  }
  .description-video-left {
    margin-right: 10px;
  }
  .description-video-right {
    margin-left: 10px;
  }
}

.description-images {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}

.firstclass-container {
  display:  flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.firstclass-content {
  margin: auto;
  width: 100%;
}

.firstclass-content.right {
  margin-top: 30px;
}

@media (min-width: 56.25em) {
  .firstclass-container {
    flex-direction: row;
  }

  .firstclass-content {
    margin: auto;
    width: 50%;
  }

  .firstclass-content.left {
    margin-right: 20px;
  }

  .firstclass-content.right {
    margin-left: 20px;
  }
}

.desktop-table {
  display: none;
}
.mobile-table {
  display: block;
}

@media (min-width: 47.25em) {
  .mobile-table {
    display: none;
  }
  .desktop-table {
    display: block;
  }
}


.team-container {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.team-container.even {
  flex-direction: column;
}

.team-smaller-col {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.team-img-container {
  padding-bottom: 100%;
  width:100%;
  position: relative
}

.team-img-container img {
  width:100%;
  height: 100%;
  position: absolute;
  padding: 15px;
}

.team-smaller-col ul {
  display: none;
}

.team-larger-col {
  width: 100%
}

@media (min-width: 37.5em) {
  .team-container {
    flex-direction: row;
  }

  .team-container.even {
    flex-direction: row-reverse;
  }

  .team-smaller-col {
    width: 33%;
  }

  .team-smaller-col ul {
    display: block;
    padding-right: 20px;
  }

  .team-larger-col {
    width: 66%
  }
}

.price-container {
  display: flex;
  flex-direction: column;
  margin: auto
}

.price-table {
  margin: 5px;
  width: 100%;
  max-width: 260px;
  text-align: center
}

.price-table.dropin {
  width: 100%;
}

.price-table-header {
  height:50px;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:#2f7272;
  color:white;
  font-weight:bold;
  font-size:20px;
  border-bottom: 1px solid white
}

.price-table-pricetag {
  height: 130px;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:rgb(55,55,55);
  color:white
}

.price-table-pricetag div {
  font-size:35px;
  font-weight:bold
}

.price-table-pricetag div span {
  font-size:15px
}

.price-table-benefits {
  height: 200px;
  padding:10px;
}

.price-table-benefits div {
  padding:10px
}


.price-table-button {
  display:flex;
  height: 50px;
}

@media (min-width: 52em) {
  .price-container {
    display: flex;
    flex-direction: row;
    margin: auto
  }

  .price-table.dropin {
    width: 50%;
  }

  .price-table {
    margin-right: 5px;
    margin-left: 5px;
    width: 33%;
    max-width: 260px;
    text-align: center
  }

  .price-table-header {
    height:50px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#2f7272;
    color:white;
    font-weight:bold;
    font-size:20px;
    border-bottom: 1px solid white
  }

  .price-table-pricetag {
    height: 130px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:rgb(55,55,55);
    color:white
  }

  .price-table-pricetag div {
    font-size:35px;
    font-weight:bold
  }

  .price-table-pricetag div span {
    font-size:15px
  }

  .price-table-benefits {
    height: 200px;
    padding:10px;
  }

  .price-table-benefits div {
    padding:10px
  }


  .price-table-button {
    display:flex;
    height: 50px;
  }
}

